.details-page {
  background: url("https://ik.imagekit.io/herjourney/main_bg_2.d153ac6_W5jyeNA-n.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645940640690")
    fixed;
  display: flex;
  flex-direction: row;
  padding: 0 58px;
}
.cover-container {
  width: 774x;
  margin-top: 84px;
}
.leaderboard {
  img {
    width: 443px;
  }
}
h3 {
  font-family: Poppins-Black;
  font-size: 38px;
  color: #d0d0d0;
  margin: 16px 0 13px;
}
.game-details {
  text-align: left;
  p {
    font-family: Poppins-Medium;
    font-size: 15px;
    color: #d0d0d0;
    font-weight: 500;
    margin: 0 0 16px;
  }
  p.played {
    font-weight: 600;
  }
  .author,
  .rating {
    display: inline-block;
  }
  .info {
    display: flex;
  }
  div.rating {
    vertical-align: middle;
    margin-left: 22px;
  }
}
div.tabs ul {
  list-style-type: none;
  li {
    font-family: Poppins-Black;
    font-size: 18px;
    letter-spacing: 0.19px;
    font-weight: 900;
    color: #484848;
    margin-right: 47px;
    cursor: pointer;
  }
  li.active {
    color: #d0d0d0;
  }
}
.tabs {
  margin-top: 78px;
  display: flex;
  ul {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}
.start-btn {
  padding: 10px 15px;
  font-family: Poppins-Medium;
  font-size: 18px;
  color: #151515;
  letter-spacing: 0.19px;
  font-weight: 500;
  background: #ffcd34;
  border-radius: 3px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  float: left;
  margin: 15px 0 0;
}
.start-btn:hover {
  background: #ffdc6f;
}
.details-page .leaderboard {
  margin: 66px 0 0 110px;
}
.summary {
  color: #d0d0d0;
  font-family: Poppins;
  text-align: left;
  margin-bottom: 58px;
}
