$merakey-gold: #ffcd34;
$merakey-grey: #d0d0d0;
.homePage {
  background: url("https://cdn.jsdelivr.net/gh/liangchuxin/blog-imgs/img/202202270955182.png");
  .main-home {
    display: flex;
    flex-direction: row;
    margin-left: 57px;
    position: relative;
    height: calc(-79px + 100vh);
  }
  .leaderboard-container {
    h3 {
      font-family: Poppins-BlackItalic;
      font-size: 36px;
      color: $merakey-grey;
      letter-spacing: 0.39px;
      text-transform: uppercase;
      margin: 0;
      padding-top: 70px;
      span {
        color: $merakey-gold;
      }
    }
    .leaderboard {
      width: 683px;
      img {
        width: 683px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
  .story-card {
    opacity: 0.71;
    background: rgba(24, 24, 24, 0.94);
    border-radius: 3px;
    cursor: pointer;
    transition: 0.4s;
    img {
      vertical-align: bottom;
      margin-right: 5px;
    }
  }
  .story-card:hover {
    opacity: 1;
  }
  .new-feed {
    margin-left: 42px;
  }
  .story-wide {
    height: 257px;
    width: 600px;
    margin-top: 36px;
    margin-bottom: 6px;
    background: url("https://cdn.jsdelivr.net/gh/liangchuxin/blog-imgs/img/202202271152326.png");
  }
  .story-grid {
    display: flex;
    justify-content: center;
    margin-right: 35px;
    .card {
      margin: 18px 21.58px 0 0;
      border-radius: 3px;
      transform: translateY(0);
      -webkit-box-orient: vertical;
      box-sizing: border-box;
      position: relative;
      width: 185.42px;
      height: 130px;
    }
    .cover1 {
      background: url("https://cdn.jsdelivr.net/gh/liangchuxin/blog-imgs/img/202202271219071.png");
    }
    .cover2 {
      background: url("https://cdn.jsdelivr.net/gh/liangchuxin/blog-imgs/img/202202271220877.png");
    }
    .cover3 {
      background: url("https://cdn.jsdelivr.net/gh/liangchuxin/blog-imgs/img/202202271221793.png");
    }
    .cover4 {
      background: url("https://cdn.jsdelivr.net/gh/liangchuxin/blog-imgs/img/202202271222513.png");
    }
    .cover5 {
      background: url("https://cdn.jsdelivr.net/gh/liangchuxin/blog-imgs/img/202202271223109.png");
    }
    .cover6 {
      background: url("https://cdn.jsdelivr.net/gh/liangchuxin/blog-imgs/img/202202271224978.png");
    }
  }
  button {
    width: 600px;
    margin-right: 58px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    padding: 9px;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
  }
  .free-and-premium {
    height: calc(-79px + 100vh);
    img {
      width: 100%;
    }
  }
}
