$merakey-grey: #d0d0d0;
$merakey-gold: #ffcd34;

.navBar {
  height: 79px;
  display: flex;
  background: #151515;
  position: sticky;
  top: 0;
  z-index: 99;
  .container {
    display: flex;
    padding: 0 66.73px;
    align-items: center;
    justify-content: space-between;
  }
  .logo-container {
    width: 179px;
    cursor: pointer;
  }
  .logo {
    width: 100%;
  }
  .navigation {
    display: flex;
    position: absolute;
    right: 58px;
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;
      font-family: Poppins-Regular;
      font-size: 18px;
      letter-spacing: 0.19px;
      text-transform: uppercase;
      li {
        margin-left: 49px;
        a {
          text-decoration: none;
          color: $merakey-grey;
          transition: 0.4s;
        }
        a:hover {
          color: white;
        }
      }
      li.active::before {
        content: "";
        left: 108px;
        right: 1px;
        width: 14px;
        border-radius: 1.5px;
        height: 3px;
        background-color: $merakey-gold;
        position: absolute;
        top: 80%;
        box-sizing: border-box;
        transform: translate(0%, -50%);
      }
    }
  }
}
