.playGame {
  background: url("https://ik.imagekit.io/herjourney/main_bg_2.d153ac6_W5jyeNA-n.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645940640690");
  display: flex;
  flex-direction: row;
  height: calc(-79px + 100vh);
  .chapters {
    width: 25%;
    background-color: rgba(256, 256, 256, 0.15);
    text-align: left;
    padding-top: 30px;
    p {
      font-size: 16px;
      color: #969696;
      opacity: 1;
      font-weight: 400;
      font-family: Poppins;
      transition: 0.4s;
      cursor: pointer;
    }
    .lv0 {
      margin-left: 29px;
    }
    .lv1 {
      margin-left: 47px;
    }
    .lv2 {
      margin-left: 96px;
    }
    p:hover {
      color: white;
    }
  }
  .story {
    width: 55%;
    padding: 0;
    position: relative;
    img {
      width: 540px;
      margin-top: 20px;
    }
    .summary {
      padding: 0 112px;
      margin-top: 40px;
    }
  }
  p.summary {
    overflow: scroll;
    height: 440px;
  }
  .questions {
    width: 23%;
    background-color: rgba(256, 256, 256, 0.15);
    text-align: left;
    padding: 30px;
    h3 {
      font-size: 20px;
    }
    .question-container {
      background-color: rgba(256, 256, 256, 0.15);
      font-family: Poppins;
      font-size: 14px;
      padding: 13px 61px 13px 13px;
      margin: 10px 0;
      color: #ffffff;
    }
    .question-container.correct::after {
      content: "✅";
      position: absolute;
      right: 46px;
    }
    .question-container.wrong::after {
      content: "❎";
      position: absolute;
      right: 46px;
    }
  }
}
.wrong-questions {
  top: calc(40px + 50vh);
  position: absolute;
}
.download-box {
  color: #d3d3d3;
  font-family: Poppins;
  text-align: center;
  padding: 7px;
  border: 1px solid #969696;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 2px;
  img {
    vertical-align: middle;
    margin-right: 8px;
    width: 18px;
  }
}
.download-box:hover {
  background-color: rgba(256, 256, 256, 0.15);
}
.input {
  color: #d0d0d0;
  font-family: poppins;
  border: 1px #969696 solid;
  position: absolute;
  left: 112px;
  bottom: 50px;
  background: transparent;
  padding-left: 12.51px;
  width: calc(-224px + 100%);
  margin-top: 9px;
  margin-bottom: 9px;
  height: 45px;
}
input:focus {
  outline: none;
}
